In [1]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import numpy as np

# โหลดตัวแปรจาก .env
load_dotenv()

# ดึงค่าจาก environment
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')  
database = 'fininsurance'

# สร้าง engine สำหรับเชื่อมต่อฐานข้อมูล
engine = create_engine(f'mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}')

# SQL query
query = """
SELECT quo_num,id_cus,no_car ,current_campaign 
FROM fin_system_select_plan WHERE datestart >= '2025-05-01' AND datestart < '2025-07-01' 
"""


# โหลดข้อมูลจากฐานข้อมูล
df_select_plan = pd.read_sql(query, engine)

# แปลงให้ pandas เข้าใจได้แน่นอน
df_select_plan

             quo_num        id_cus no_car current_campaign
0       FQ2505-02001   FNG21-19117    110             None
1       FN2505-00101  FNG23-105321   None             None
2       FQ2505-02002   FNG21-39576    320
3       FV2505-02001   FNG21-34561   None             None
4       FQ2505-02003   FNG21-26630    110             None
...              ...           ...    ...              ...
127800  FQ2506-26312    FNG20-8942   110E
127801  FQ2506-26313  FNG25-135365    110             None
127802  FQ2506-26314   FNG21-16203    610             None
127803  FQ2506-26315  FNG23-083242    110             None
127804  FN2506-03630  FNG23-102679   None             None

[127805 rows x 4 columns]

In [2]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

load_dotenv() 

user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')  
database = 'fininsurance_task'

engine = create_engine(f'mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}')

query = """
SELECT quo_num,numpay,order_number
FROM   fin_order   WHERE datekey >= '2025-05-01' AND datekey < '2025-07-01'
"""

df_fin_order = pd.read_sql(query, engine)
df_fin_order

               quo_num numpay   order_number
0         FV2505-02009      1  VIN2505-00001
1         FV2505-02011      1  VIN2505-00002
2         FV2505-02012      1  VIN2505-00003
3         FV2505-02013      1  VIN2505-00004
4         FV2505-02014      1  VIN2505-00005
...                ...    ...            ...
91513  FL2506-02040-01      1  FAL2506-00028
91514  FL2506-02041-01      1  FAL2506-00029
91515  FL2506-02042-01      1  LIN2506-00057
91516  FL2506-02043-01      1  LIN2506-00058
91517  FL2506-02044-01      1  LIN2506-00059

[91518 rows x 3 columns]

In [3]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import numpy as np

# โหลดตัวแปรจาก .env
load_dotenv()

# ดึงค่าจาก environment
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')  
database = 'fininsurance'

# สร้าง engine สำหรับเชื่อมต่อฐานข้อมูล
engine = create_engine(f'mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}')

# SQL query
query = """
SELECT quo_num,show_com_total,show_com_prb,show_com_ins,discom,show_price_com_count,show_com_addon,condition_install,percent_install,chanel_main
FROM fin_system_pay WHERE datestart >= '2025-05-01' AND datestart < '2025-07-01'
"""


# โหลดข้อมูลจากฐานข้อมูล
df_system_pay = pd.read_sql(query, engine)

df_system_pay

,quo_num,show_com_total,show_com_prb,show_com_ins,discom,show_price_com_count,show_com_addon,condition_install,percent_install,chanel_main
0,FN2504-02806,4118.19,None,4297.0365,0,4118.19,None,,0,โอนเงิน
1,FQ2505-02002,2219.82,0,2378.76,0,2219.82,0,,None,โอนเงิน
2,FQ2504-24451,389.77,0,452.39,0,389.77,0,,None,โอนเงิน
3,FV2505-02001,None,None,None,None,None,None,None,None,None
4,FV2505-02002,228.22,228.22,,0,0,None,None,None,โอนเงิน
...,...,...,...,...,...,...,...,...,...,...
104282,FN2506-03603,46.17,None,48.60,0,46.17,None,,0,โอนเงิน
104283,FQ2506-26305,1514.04,180,1455.83,0,1514.04,0,,0,โอนเงิน
104284,FQ2506-26308,265.29,0,1396.26,279.25,265.29,0,000002,10,ผ่อนโอน
104285,FN2506-03629,43.29,None,45.57,0,43.29,None,,0,โอนเงิน
104286,FQ2506-26312,,0,1341.34,,0,0,000002,8,ผ่อนชำระ

In [4]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import numpy as np

# โหลดตัวแปรจาก .env
load_dotenv()

# ดึงค่าจาก environment
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')  
database = 'fininsurance'

# สร้าง engine สำหรับเชื่อมต่อฐานข้อมูล
engine = create_engine(f'mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}')

# SQL query
query = """
SELECT quo_num,com_invite,com_rank
FROM fin_com_rank WHERE date_add >= '2025-05-01' AND date_add < '2025-07-01'
"""


# โหลดข้อมูลจากฐานข้อมูล
df_com_rank = pd.read_sql(query, engine)

# แปลงให้ pandas เข้าใจได้แน่นอน
df_com_rank

            quo_num com_invite com_rank
0      FN2504-02806          0   286.47
1      FN2504-02806          0   572.94
2      FV2505-02002          3        0
3      FV2505-02003          3        0
4      FV2505-02004          3        0
...             ...        ...      ...
88652  FQ2506-26308      111.7        0
88653  FQ2506-26308          0    55.85
88654  FN2506-03629       6.08        0
88655  FN2506-03629          0     3.04
88656  FN2506-03629          0     0.76

[88657 rows x 3 columns]

In [5]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import numpy as np

# โหลดตัวแปรจาก .env
load_dotenv()

# ดึงค่าจาก environment
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')  
database = 'fininsurance'

# สร้าง engine สำหรับเชื่อมต่อฐานข้อมูล
engine = create_engine(f'mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}')

# SQL query
query = """
SELECT cuscode as id_cus,status_vip 
FROM wp_users where  cuscode not in ("FINTEST-01", "FIN-TestApp", "Admin-VIF", "adminmag_fin")

"""


# โหลดข้อมูลจากฐานข้อมูล
df_wp_users = pd.read_sql(query, engine)

# แปลงให้ pandas เข้าใจได้แน่นอน
df_wp_users

                          id_cus status_vip
0                    FIN19090009         no
1                        FINBANK         no
2       punyawat@dplusonline.net         no
3                      FIN19-jay         no
4                     FIN0000000         no
...                          ...        ...
141667              FNG25-139831         no
141668    northeast3_phitchaporn         no
141669              FNG25-139832         no
141670              FNG25-139833         no
141671              FNG25-139834         no

[141672 rows x 2 columns]

In [6]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import numpy as np

# โหลดตัวแปรจาก .env
load_dotenv()

# ดึงค่าจาก environment
user = os.getenv('DB_USER')
password = os.getenv('DB_PASSWORD')
host = os.getenv('DB_HOST')
port = os.getenv('DB_PORT')  
database = 'fininsurance_task'

# สร้าง engine สำหรับเชื่อมต่อฐานข้อมูล
engine = create_engine(f'mariadb+mariadbconnector://{user}:{password}@{host}:{port}/{database}')

# SQL query
query = """
SELECT order_number, money_one ,money_ten 
FROM fin_finance
"""


# โหลดข้อมูลจากฐานข้อมูล
df_fin_finance = pd.read_sql(query, engine)

# แปลงให้ pandas เข้าใจได้แน่นอน
df_fin_finance

          order_number money_one money_ten
0        FIN1910-00002      3000      None
1        FIN1910-00003      3000      None
2        FIN1910-00004      3000      None
3        FIN1910-00005      3000      None
4        FIN1910-00006      3000      None
...                ...       ...       ...
1603766  FAV2507-07538    360.59      None
1603767  VIN2507-13076    589.12      None
1603768  VIN2507-13077    580.12      None
1603769  FAM2507-03374      2934         0
1603770  VIN2507-13078    404.98      None

[1603771 rows x 3 columns]

In [7]:
df_merged = df_select_plan.copy()
df_merged = pd.merge(df_merged, df_fin_order, on='quo_num', how='left')
df_merged = pd.merge(df_merged, df_system_pay, on='quo_num', how='left')
df_merged = pd.merge(df_merged, df_com_rank, on='quo_num', how='left')
df_merged = pd.merge(df_merged, df_fin_finance, on='order_number', how='left')
df_merged = pd.merge(df_merged, df_wp_users, on='id_cus', how='left')
df_merged

,quo_num,id_cus,no_car,current_campaign,numpay,order_number,show_com_total,show_com_prb,show_com_ins,discom,show_price_com_count,show_com_addon,condition_install,percent_install,chanel_main,com_invite,com_rank,money_one,money_ten,status_vip
0,FQ2505-02001,FNG21-19117,110,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no
1,FN2505-00101,FNG23-105321,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no
2,FQ2505-02002,FNG21-39576,320,,NaN,NaN,2219.82,0,2378.76,0,2219.82,0,,None,โอนเงิน,NaN,NaN,None,None,no
3,FV2505-02001,FNG21-34561,None,None,NaN,NaN,None,None,None,None,None,None,None,None,None,NaN,NaN,None,None,yes-old
4,FQ2505-02003,FNG21-26630,110,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166693,FQ2506-26312,FNG20-8942,110E,,NaN,NaN,,0,1341.34,,0,0,000002,8,ผ่อนชำระ,NaN,NaN,None,None,no
166694,FQ2506-26313,FNG25-135365,110,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no
166695,FQ2506-26314,FNG21-16203,610,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no
166696,FQ2506-26315,FNG23-083242,110,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no
166697,FN2506-03630,FNG23-102679,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no

In [8]:
df_merged

,quo_num,id_cus,no_car,current_campaign,numpay,order_number,show_com_total,show_com_prb,show_com_ins,discom,show_price_com_count,show_com_addon,condition_install,percent_install,chanel_main,com_invite,com_rank,money_one,money_ten,status_vip
0,FQ2505-02001,FNG21-19117,110,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no
1,FN2505-00101,FNG23-105321,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no
2,FQ2505-02002,FNG21-39576,320,,NaN,NaN,2219.82,0,2378.76,0,2219.82,0,,None,โอนเงิน,NaN,NaN,None,None,no
3,FV2505-02001,FNG21-34561,None,None,NaN,NaN,None,None,None,None,None,None,None,None,None,NaN,NaN,None,None,yes-old
4,FQ2505-02003,FNG21-26630,110,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166693,FQ2506-26312,FNG20-8942,110E,,NaN,NaN,,0,1341.34,,0,0,000002,8,ผ่อนชำระ,NaN,NaN,None,None,no
166694,FQ2506-26313,FNG25-135365,110,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no
166695,FQ2506-26314,FNG21-16203,610,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no
166696,FQ2506-26315,FNG23-083242,110,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no
166697,FN2506-03630,FNG23-102679,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,no

In [9]:
cols_to_numeric = ["numpay", "money_one", "money_ten"]

for col in cols_to_numeric:
    if col in df_merged.columns:
        df_merged[col] = pd.to_numeric(df_merged[col], errors="coerce")

In [10]:
def calculate_condi_com_status(row):
    if pd.notna(row["numpay"]) and row["numpay"] < 2:
        return "หารเท่าทุกงวด"
    
    if pd.notna(row["condition_install"]) and str(row["condition_install"]).startswith("0000"):
        return "หารเท่าทุกงวด"
    
    if (
        pd.notna(row["numpay"]) and row["numpay"] == 10 and
        pd.notna(row["money_one"]) and pd.notna(row["money_ten"]) and
        row["money_one"] == row["money_ten"]
    ):
        return "หารเท่าทุกงวด"
    
    if row.get("no_car") == "730":
        if pd.notna(row["condition_install"]) and str(row["condition_install"]).strip() != "":
            prefix = str(row["condition_install"])[:4]
            return f"งวดแรกจ่าย {prefix}"
        else:
            return "หารเท่าทุกงวด"

    return None

In [11]:
df_merged["condi_com_status"] = df_merged.apply(calculate_condi_com_status, axis=1)

In [12]:
import pandas as pd

# สร้างคอลัมน์ condi_com ตามเงื่อนไข
def calculate_condi_com(row):
    try:
        if (
            row["percent_install"] == 0
            or (
                row["percent_install"] == 0 and row["isGovernmentOfficer"] == 1 and pd.notna(row["chanel_main"]) and "ผ่อน" in row["chanel_main"]
            )
            or (
                row["current_campaign"] == "ผ่อนไม่หักคอม" and pd.notna(row["id_cus"]) and not row["id_cus"].startswith("FTR")
            )
        ):
            return "ไม่หักคอม"

        if pd.notna(row["id_cus"]) and row["id_cus"].startswith("FTR"):
            return "ปกติ"

        if pd.notna(row["chanel_main"]) and "ผ่อน" not in row["chanel_main"]:
            return "ปกติ"

        elif (
            pd.notna(row["datestart"])
            and row["datestart"] > pd.to_datetime("2024-07-17")
            and row["status_vip"] in ("yes", "yes-new")
            and row["numpay"] > 1
            and row["condition_install"] == "000003"
            and str(row["percent_install"]) in ["0.3", "0.5", "0.9", "1.2", "1.5", "1.8", "2.1", "2.4", "3", "1", "2", "2.5", "3.5", "4", "4.5", "5"]
        ):
            return "หักคอม 0.3,0.5"
        else:
            return "หักคอม"
    except Exception:
        return "หักคอม"

# สร้างคอลัมน์ใหม่
df_merged["condi_com"] = df_merged.apply(calculate_condi_com, axis=1)

In [13]:
import pandas as pd

# แปลงให้เป็นตัวเลขก่อน
df_merged["numpay"] = pd.to_numeric(df_merged["numpay"], errors="coerce")
df_merged["discom"] = pd.to_numeric(df_merged["discom"], errors="coerce")
df_merged["show_com_ins"] = pd.to_numeric(df_merged["show_com_ins"], errors="coerce")

# สร้างคอลัมน์ commission ตามเงื่อนไข
df_merged["commission"] = df_merged.apply(
    lambda row: row["discom"] if row["numpay"] > 1 else row["show_com_ins"],
    axis=1
)

# แสดงตัวอย่างผลลัพธ์
print(df_merged[["numpay", "discom", "show_com_ins", "commission"]].head())

   numpay  discom  show_com_ins  commission
0     NaN     NaN           NaN         NaN
1     NaN     NaN           NaN         NaN
2     NaN     0.0       2378.76     2378.76
3     NaN     NaN           NaN         NaN
4     NaN     NaN           NaN         NaN

In [14]:
for col in df_merged.columns:
    print(col)
##car_year

quo_num
id_cus
no_car
current_campaign
numpay
order_number
show_com_total
show_com_prb
show_com_ins
discom
show_price_com_count
show_com_addon
condition_install
percent_install
chanel_main
com_invite
com_rank
money_one
money_ten
status_vip
condi_com_status
condi_com
commission

In [15]:
rename_columns = {
    "quo_num": "quotation_num",
    "cuscode": "agent_id",
    "show_com_total": "total_commission",
    "show_com_prb": "ins_commission",
    "show_com_ins": "prb_commission",
    "discom": "after_tax_commission",
    "show_price_com_count": "paid_commission",
    "show_com_addon": "commission_addon",
    "com_invite": "com_invite",
    "com_rank": "com_rank",
    "condi_com_status": "condi_com_status",
    "condi_com": "condi_com",
    "commission": "commission",
}

df = df_merged.rename(columns=rename_columns)
df

,quotation_num,id_cus,no_car,current_campaign,numpay,order_number,total_commission,ins_commission,prb_commission,after_tax_commission,...,percent_install,chanel_main,com_invite,com_rank,money_one,money_ten,status_vip,condi_com_status,condi_com,commission
0,FQ2505-02001,FNG21-19117,110,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN
1,FN2505-00101,FNG23-105321,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN
2,FQ2505-02002,FNG21-39576,320,,NaN,NaN,2219.82,0,2378.76,0.0,...,None,โอนเงิน,NaN,NaN,NaN,NaN,no,None,ปกติ,2378.76
3,FV2505-02001,FNG21-34561,None,None,NaN,NaN,None,None,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,yes-old,None,หักคอม,NaN
4,FQ2505-02003,FNG21-26630,110,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166693,FQ2506-26312,FNG20-8942,110E,,NaN,NaN,,0,1341.34,NaN,...,8,ผ่อนชำระ,NaN,NaN,NaN,NaN,no,หารเท่าทุกงวด,หักคอม,1341.34
166694,FQ2506-26313,FNG25-135365,110,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN
166695,FQ2506-26314,FNG21-16203,610,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN
166696,FQ2506-26315,FNG23-083242,110,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN
166697,FN2506-03630,FNG23-102679,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN

In [16]:
df_merged = df_merged.drop(columns=['numpay','current_campaign','status_vip','percent_install','chanel_main','no_car','condition_install','chanel_main','money_one','money_ten','order_number'])
df_merged

,quo_num,id_cus,show_com_total,show_com_prb,show_com_ins,discom,show_price_com_count,show_com_addon,com_invite,com_rank,condi_com_status,condi_com,commission
0,FQ2505-02001,FNG21-19117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
1,FN2505-00101,FNG23-105321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
2,FQ2505-02002,FNG21-39576,2219.82,0,2378.76,0.0,2219.82,0,NaN,NaN,None,ปกติ,2378.76
3,FV2505-02001,FNG21-34561,None,None,NaN,NaN,None,None,NaN,NaN,None,หักคอม,NaN
4,FQ2505-02003,FNG21-26630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
166693,FQ2506-26312,FNG20-8942,,0,1341.34,NaN,0,0,NaN,NaN,หารเท่าทุกงวด,หักคอม,1341.34
166694,FQ2506-26313,FNG25-135365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
166695,FQ2506-26314,FNG21-16203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
166696,FQ2506-26315,FNG23-083242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
166697,FN2506-03630,FNG23-102679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN

In [17]:
df = df.replace(r'^\s*$', pd.NA, regex=True)  
df = df[df.count(axis=1) > 1]
df

,quotation_num,id_cus,no_car,current_campaign,numpay,order_number,total_commission,ins_commission,prb_commission,after_tax_commission,...,percent_install,chanel_main,com_invite,com_rank,money_one,money_ten,status_vip,condi_com_status,condi_com,commission
0,FQ2505-02001,FNG21-19117,110,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN
1,FN2505-00101,FNG23-105321,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN
2,FQ2505-02002,FNG21-39576,320,<NA>,NaN,NaN,2219.82,0,2378.76,0.0,...,None,โอนเงิน,NaN,NaN,NaN,NaN,no,None,ปกติ,2378.76
3,FV2505-02001,FNG21-34561,None,None,NaN,NaN,None,None,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,yes-old,None,หักคอม,NaN
4,FQ2505-02003,FNG21-26630,110,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166693,FQ2506-26312,FNG20-8942,110E,<NA>,NaN,NaN,<NA>,0,1341.34,NaN,...,8,ผ่อนชำระ,NaN,NaN,NaN,NaN,no,หารเท่าทุกงวด,หักคอม,1341.34
166694,FQ2506-26313,FNG25-135365,110,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN
166695,FQ2506-26314,FNG21-16203,610,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN
166696,FQ2506-26315,FNG23-083242,110,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN
166697,FN2506-03630,FNG23-102679,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,no,None,หักคอม,NaN

In [18]:
import pandas as pd
import numpy as np

# แปลงช่องว่างทุกแบบเป็น NaN ชั่วคราว เพื่อการนับข้อมูล
df_temp = df.replace(r'^\s*$', np.nan, regex=True)

# เพิ่มคอลัมน์ช่วยนับจำนวนข้อมูล (non-null)
df['non_empty_count'] = df_temp.notnull().sum(axis=1)

# >>>> ส่วนที่แก้ไขตรงนี้ <<<<
# ตรวจสอบ agent_id ที่ไม่ว่าง (ไม่ใช่ NaN และไม่ใช่ช่องว่าง)
valid_agent_id_mask = df['quotation_num'].astype(str).str.strip().ne('') & df['quotation_num'].notna()

# แยกกลุ่มที่ agent_id ไม่ว่างและ agent_id ว่าง
df_with_id = df[valid_agent_id_mask]
df_without_id = df[~valid_agent_id_mask]

# คัดแถวที่ agent_id ซ้ำ โดยเก็บแถวที่มีข้อมูลมากที่สุด
df_with_id_cleaned = df_with_id.sort_values('non_empty_count', ascending=False).drop_duplicates(subset='quotation_num', keep='first')

# รวมกลับ
df_cleaned = pd.concat([df_with_id_cleaned, df_without_id], ignore_index=True)

# ลบคอลัมน์ช่วย
df_cleaned = df_cleaned.drop(columns=['non_empty_count'])
df_cleaned = df_cleaned.replace(
    to_replace=r'^\s*$|(?i:^none$)|^-$',  # << แก้ตรงนี้
    value=np.nan,
    regex=True
)


df_cleaned.columns = df_cleaned.columns.str.lower()
df_cleaned

,quotation_num,id_cus,no_car,current_campaign,numpay,order_number,total_commission,ins_commission,prb_commission,after_tax_commission,...,percent_install,chanel_main,com_invite,com_rank,money_one,money_ten,status_vip,condi_com_status,condi_com,commission
0,FQ2505-24128,FNG21-24169,730,ชวนเพื่อน,4.0,FIN2505-07244,814.99,0.00,1439.97,799.99,...,4,ผ่อนโอน,159.997,0,4000.0,0.0,no,งวดแรกจ่าย 4000,หักคอม,799.99
1,FQ2505-04940,FNG23-104859,320.1,ชวนเพื่อน,10.0,FIN2505-01008,738.66,0,6283.89,819.64,...,10,ผ่อนโอน,273.21,0,5871.0,5871.0,no,หารเท่าทุกงวด,หักคอม,819.64
2,FQ2506-04350,FNG23-107003,320,ชวนเพื่อน,10.0,FIN2506-01078,1290.30,0.00,2067.14,1400.32,...,5,ผ่อนโอน,133.3641,0,1433.0,1432.7,yes-old,หารเท่าทุกงวด,หักคอม,1400.32
3,FQ2505-14310,FNG22-064792,110,ชวนเพื่อน,6.0,FIN2505-04290,1026.71,0.00,1654.73,1122.85,...,3,ผ่อนบัตร,0,29.54875,3383.7,0.0,yes-new,หารเท่าทุกงวด,หักคอม,1122.85
4,FQ2506-02941,FNG20-8808,110,None,6.0,FIN2506-00674,914.96,0,1340.29,1005.22,...,6,ผ่อนโอน,0,27.9228,1000.0,0.0,no,หารเท่าทุกงวด,หักคอม,1005.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127800,FV2505-27234,Admin-VIF,None,None,NaN,NaN,None,None,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
127801,FV2505-35371,Admin-VIF,None,None,NaN,NaN,None,None,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
127802,FV2505-35520,Admin-VIF,None,None,NaN,NaN,None,None,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
127803,FN2505-03095,FIN-TestApp,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
127804,FQ2505-05209,<NA>,<NA>,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN

In [19]:
df_cleaned.replace(np.nan, "NaN").isin(["none", "-", "None"]).sum()
df_cleaned

,quotation_num,id_cus,no_car,current_campaign,numpay,order_number,total_commission,ins_commission,prb_commission,after_tax_commission,...,percent_install,chanel_main,com_invite,com_rank,money_one,money_ten,status_vip,condi_com_status,condi_com,commission
0,FQ2505-24128,FNG21-24169,730,ชวนเพื่อน,4.0,FIN2505-07244,814.99,0.00,1439.97,799.99,...,4,ผ่อนโอน,159.997,0,4000.0,0.0,no,งวดแรกจ่าย 4000,หักคอม,799.99
1,FQ2505-04940,FNG23-104859,320.1,ชวนเพื่อน,10.0,FIN2505-01008,738.66,0,6283.89,819.64,...,10,ผ่อนโอน,273.21,0,5871.0,5871.0,no,หารเท่าทุกงวด,หักคอม,819.64
2,FQ2506-04350,FNG23-107003,320,ชวนเพื่อน,10.0,FIN2506-01078,1290.30,0.00,2067.14,1400.32,...,5,ผ่อนโอน,133.3641,0,1433.0,1432.7,yes-old,หารเท่าทุกงวด,หักคอม,1400.32
3,FQ2505-14310,FNG22-064792,110,ชวนเพื่อน,6.0,FIN2505-04290,1026.71,0.00,1654.73,1122.85,...,3,ผ่อนบัตร,0,29.54875,3383.7,0.0,yes-new,หารเท่าทุกงวด,หักคอม,1122.85
4,FQ2506-02941,FNG20-8808,110,None,6.0,FIN2506-00674,914.96,0,1340.29,1005.22,...,6,ผ่อนโอน,0,27.9228,1000.0,0.0,no,หารเท่าทุกงวด,หักคอม,1005.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127800,FV2505-27234,Admin-VIF,None,None,NaN,NaN,None,None,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
127801,FV2505-35371,Admin-VIF,None,None,NaN,NaN,None,None,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
127802,FV2505-35520,Admin-VIF,None,None,NaN,NaN,None,None,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
127803,FN2505-03095,FIN-TestApp,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
127804,FQ2505-05209,<NA>,<NA>,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN

In [20]:
# df_cleaned.to_csv('dim_car1.csv', index=False, encoding='utf-8-sig')

In [21]:
print(df_cleaned.columns)

Index(['quotation_num', 'id_cus', 'no_car', 'current_campaign', 'numpay',
       'order_number', 'total_commission', 'ins_commission', 'prb_commission',
       'after_tax_commission', 'paid_commission', 'commission_addon',
       'condition_install', 'percent_install', 'chanel_main', 'com_invite',
       'com_rank', 'money_one', 'money_ten', 'status_vip', 'condi_com_status',
       'condi_com', 'commission'],
      dtype='object')

In [22]:
df_cleaned = df_cleaned.replace(r'^\.$', np.nan, regex=True)
df_cleaned

,quotation_num,id_cus,no_car,current_campaign,numpay,order_number,total_commission,ins_commission,prb_commission,after_tax_commission,...,percent_install,chanel_main,com_invite,com_rank,money_one,money_ten,status_vip,condi_com_status,condi_com,commission
0,FQ2505-24128,FNG21-24169,730,ชวนเพื่อน,4.0,FIN2505-07244,814.99,0.00,1439.97,799.99,...,4,ผ่อนโอน,159.997,0,4000.0,0.0,no,งวดแรกจ่าย 4000,หักคอม,799.99
1,FQ2505-04940,FNG23-104859,320.1,ชวนเพื่อน,10.0,FIN2505-01008,738.66,0,6283.89,819.64,...,10,ผ่อนโอน,273.21,0,5871.0,5871.0,no,หารเท่าทุกงวด,หักคอม,819.64
2,FQ2506-04350,FNG23-107003,320,ชวนเพื่อน,10.0,FIN2506-01078,1290.30,0.00,2067.14,1400.32,...,5,ผ่อนโอน,133.3641,0,1433.0,1432.7,yes-old,หารเท่าทุกงวด,หักคอม,1400.32
3,FQ2505-14310,FNG22-064792,110,ชวนเพื่อน,6.0,FIN2505-04290,1026.71,0.00,1654.73,1122.85,...,3,ผ่อนบัตร,0,29.54875,3383.7,0.0,yes-new,หารเท่าทุกงวด,หักคอม,1122.85
4,FQ2506-02941,FNG20-8808,110,None,6.0,FIN2506-00674,914.96,0,1340.29,1005.22,...,6,ผ่อนโอน,0,27.9228,1000.0,0.0,no,หารเท่าทุกงวด,หักคอม,1005.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127800,FV2505-27234,Admin-VIF,None,None,NaN,NaN,None,None,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
127801,FV2505-35371,Admin-VIF,None,None,NaN,NaN,None,None,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
127802,FV2505-35520,Admin-VIF,None,None,NaN,NaN,None,None,NaN,NaN,...,None,None,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
127803,FN2505-03095,FIN-TestApp,None,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN
127804,FQ2505-05209,<NA>,<NA>,None,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,หักคอม,NaN

In [23]:
# รายชื่อคอลัมน์ที่เป็น numeric
numeric_columns = [
    'total_commission', 'ins_commission', 'prb_commission',
    'after_tax_commission', 'paid_commission', 'commission_addon',
    'commission', 'com_invite','com_rank'
]

# ลบ , และแปลงเป็น float
for col in numeric_columns:
    df_cleaned[col] = df_cleaned[col].astype(str).str.replace(',', '', regex=False)
    df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='coerce')

In [24]:
df_cleaned = df_cleaned.rename(columns={'id_cus': 'agent_id'})

In [25]:
if 'car_no' in df_cleaned.columns:
    df_cleaned = df_cleaned.drop(columns=['car_no'])

In [26]:
# import pandas as pd
# import os
# from sqlalchemy import create_engine
# from dotenv import load_dotenv

# load_dotenv()

# host = os.getenv('DB_HOST_test')
# user = os.getenv('DB_USER_test')
# password = os.getenv('DB_PASSWORD_test')
# port = os.getenv('DB_PORT_test')
# database = 'fininsurance'  

# engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}')
# rows_inserted = df_cleaned.to_sql('fact_commission', engine, if_exists='append', index=False)